@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Roboto:100,700&display=swap');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-black: #000000;

$font-logo: 'Just Me Again Down Here', cursive;
$font-header: 'Roboto 700', sans-serif;
$font-text: 'Roboto 100', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.blog {
  background-image: url("../images/background.png");
  background-size: cover;
  background-position-y: 60%;
  height: 120vh;
  margin: 0;
  padding: 0 0 50px 0;
}

.wrapper {
  display: flex;
  margin-left: 10px;

  .sidebar {
    background-color: $color-light;
    opacity: 0.82;
    flex: 1 0 0;

    .section-title {
      color: $color-black;
    }
  }
}

.posts {
  flex: 2 0 0;
  background-color: $color-light;
  opacity: 0.82;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  text-align: center;
  margin-top: 0;
  padding: 120px 0 30px 0;
  color: $color-black;
  font-family: $font-logo;
  font-size: 154px;
  font-weight: 400;
  line-height: 37.7px;
  letter-spacing: 12.3px;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    color: $color-dark;
  }

  a:link {
    text-decoration: none;
  }

  .active {
    font-weight: bold;
    color: $color-black;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  li {
    width: 50%;
    flex: 1 1 auto;
    margin-bottom: 12px;
    text-align: center;

    img {
      max-width: 60%;
    }

    span {
      display: block;
      width: 100%;
      color: $color-black;
      font-size: 13px;
      margin: 0;
      padding: 0;
    }
  }
}

/* Post */

.post {
  display: none;

  &.active {
    display: block;
  }

  .post-title {
    color: $color-black;
    font-size: 24px;
  }

  .post-author {
    font-style: italic;
  }

  .post-tags {
    display: flex;

    p {
      margin: 0 10px 0 0;
      color: $color-black;
    }

    a {
      color: $color-black;
    }

    .active {
      font-weight: bold;
    }
  }
}
